WSClient/Connected Services/WSPersonasServiceReference/WSPersonas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSPersonas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52470/WSPersonas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52470/WSPersonas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52470/WSPersonas.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSPersonas_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IWSPersonas_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IWSPersonas_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IWSPersonas_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IWSPersonas_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IWSPersonas_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IWSPersonas_GetDataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSet" />
  </wsdl:message>
  <wsdl:message name="IWSPersonas_GetDataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSPersonas">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSPersonas/Add" message="tns:IWSPersonas_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSPersonas/AddResponse" message="tns:IWSPersonas_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSPersonas/Update" message="tns:IWSPersonas_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSPersonas/UpdateResponse" message="tns:IWSPersonas_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSPersonas/Delete" message="tns:IWSPersonas_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSPersonas/DeleteResponse" message="tns:IWSPersonas_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSPersonas/GetDataSet" message="tns:IWSPersonas_GetDataSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSPersonas/GetDataSetResponse" message="tns:IWSPersonas_GetDataSet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSPersonas" type="tns:IWSPersonas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IWSPersonas/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IWSPersonas/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IWSPersonas/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <soap:operation soapAction="http://tempuri.org/IWSPersonas/GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSPersonas">
    <wsdl:port name="BasicHttpBinding_IWSPersonas" binding="tns:BasicHttpBinding_IWSPersonas">
      <soap:address location="http://localhost:52470/WSPersonas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>